.n-wrapper {
  height: 10vh;
  display: flex;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
  max-width: 20%;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  color: white;
}

.n-list li {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
}
.n-list li:hover {
  cursor: pointer;
  color: var(--yellow);
}

.n-button {
  flex: 2;
}

.n-name {
  transform: scale(0.15);
}
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .n-list {
    display: none;
  }
  .n-right {
    justify-content: space-between;
  }
}
