.intro {
  display: flex;
  height: 90vh;
  margin-top: 6rem;
  padding: 0 2rem 0 2rem;
}

.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 5rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  letter-spacing: -6.5px;
  line-height: 5rem;
  padding-left: 0.1rem;
}

.i-name > :nth-child(2) {
  color: var(--yellow);
  font-weight: bold;
  letter-spacing: -6.5px;
  font-size: 6rem;
  line-height: 130px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.i-name > :nth-child(3) {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  letter-spacing: 0.02rem;
  color: var(--gray);
  font-size: 1.1rem;
  margin-top: 10px;
  padding-left: 0.5rem;
}

.i-name div:hover {
  color: #ffef99;
}

.i-button {
  width: 6rem;
  height: 2rem;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
  color: var(--orange);
}

.i-right > :nth-child(1) {
  transform: scale(0.3);
  left: -60%;
  top: -6%;
}

.i-right > :nth-child(2) {
  top: 2rem;
  transform: scale(0.33);
  left: -0.1rem;
}

.newLogo {
  transform: scale(0.2);
}

.i-right > :nth-child(4) {
  transform: scale(0.55);
  top: -10%;
  left: -2%;
  border-radius: 50%;
  padding: 0;
}

.i-right > :nth-child(3) {
  transform: scale(1.1);
}

.blur {
  position: absolute;
  width: 60rem;
  height: 11rem;
  border-radius: 50%;
  background: white;
  filter: blur(100px);
  z-index: -10;
  top: -2%;
  left: 50%;
}

@media screen and (max-width: 900px) {
  .intro {
    flex-direction: column;
    margin-top: 3rem;
    height: 90vh;
    padding-bottom: 8rem;
  }
  .i-right {
    transform: scale(0.9);
    left: 3rem;
  }

  .i.right .blur {
    display: none;
  }

  .floating-div {
    transform: scale(0.8);
  }

  .floating-div:nth-of-type(1) {
    top: -7rem !important;
  }
}

@media screen and (max-width: 696px) {
  .i-name :nth-child(2) {
    font-size: 4rem;
  }

  .i-right {
    transform: scale(0.8);
    left: -1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    height: 64rem;
  }

  .i-right {
    transform: scale(0.8);
    left: -1.5rem;
  }
}
